services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: z-test
    environment:
      DATABASE_URL: "mysql://balboa:password@db:3306/zTestdb?serverVersion=8.0&charset=utf8mb4"
      APP_ENV: "prod"
    depends_on:
      db:
        condition: service_healthy
  
  nginx:
    image: nginx:latest
    container_name: symfony-nginx
    ports:
      - "8080:8080"
    volumes:
      - ./:/var/www/z-test-yugrin
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      
  db:
    image: mysql:8.0
    container_name: symfony-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: zTestdb
      MYSQL_USER: balboa
      MYSQL_PASSWORD: password
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 20  

volumes:
  mysql_data:
