version: "3.9"

services:

  php:
    image: balboa9876/z-test-yugrin:latest
    container_name: z-test
    environment:
      MYSQL_HOST: db
      MYSQL_DATABASE: zTest
      MYSQL_USER: balboa
      MYSQL_PASSWORD: password
    depends_on:
      - db

  nginx:
    image: nginx:latest
    container_name: symfony-nginx
    ports:
      - "8080:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  db:
    image: mysql:8.0
    container_name: symfony-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: zTest
      MYSQL_USER: balboa
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
