{% block body %}
    <nav class="w-screen h-1/25 flex justify-between bg-black/50 *:h-full">
        {% for section in nav %}
            <div class="group relative h-full">
                <div class="default-btn cursor-pointer h-full block">{{section.title}}</div>
                <div class="opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 transform translate-y-2 group-hover:translate-y-0 bg-white/95 z-50">
                    {% for option in section.options %}
                        <a href="{{option.url}}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 transition-colors" data-turbo-action="replace">{{option.title}}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </nav>
{% endblock %}