{% extends "admin/index.html.twig" %}

{% block content %}
    <h1 class="bg-black/50 text-center p-2 border-b-1 border-white">{% block table_label %}{% endblock %}</h1>

    <div class="flex gap-3 w-full *:w-full *:not-first:border-l-1 *:p-2 text-center  border-b-1 border-white bg-black/50">{% block table_header %}{% endblock %}</div>
    
    {% block table_body %}
        {% for item in items %}
        <div class=" border-white border-b-1">   
            {% block table_row %}{% endblock %}
        </div>    
        {% endfor %}
    {% endblock %}  

    {% block table_pagination %}{% endblock %}
{% endblock %}