{% extends "admin/db/list.html.twig" %}

{% block table_label %}
    Пользователи
{% endblock %}
{% block table_header %}
    <span>id</span>
    <span>username</span>
{% endblock %}

{% block table_row %}
    <a class="flex gap-3 w-full *:w-full p-3 hover:bg-black/50 cursor-pointer text-center" href="{{ path("admin_db_user_profile", {'id': item.id}) }}">   
        <span>{{item.id}}</span>
        <span>{{item.username}}</span>
    </a>
{% endblock %}

{% block table_pagination %}{% endblock %}
