{% extends "base.html.twig" %}

{% block title %}Убежище{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block background %}
    <img src="{{ asset('images/hideout/bg.png' )}}" class="absolute w-full h-full brightness-50 -z-50"></img>
{% endblock %}

{% block body %}
    {{ render(path('hideout_nav')) }}
    <div class="w-full h-full flex justify-between">
        <turbo-frame id="left-side-frame" class="w-1/3"></turbo-frame>
        <turbo-frame id="right-side-frame" class="w-1/3"></turbo-frame>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}